<!DOCTYPE html>

<title>Hello MollieController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/wamp64/www/E-COMMERCE_PROJECT_WITH_SYLIUS/e-shop/my-sylius-project/src/Controller/MollieController.php</code></li>
        <li>Your template at <code>C:/wamp64/www/E-COMMERCE_PROJECT_WITH_SYLIUS/e-shop/my-sylius-project/templates/mollie/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
